@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(100deg, rgb(91, 168, 182) 50%, #2f7fca 0);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-list {
  background-color: green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 200px 200px;
  background-color: #292f38;
  width: 90%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  margin: 5rem 0;
  color: white;
}

.app-wrapper {
  background-color: #292f38;
  width: 25%;
  min-width: 450px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.list {
  width: 90%;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.task-input {
  width: 350px;
  min-width: 250px;
  padding: 15px 10px 10px 20px;
  margin-right: 10px;
  font-family: "Josefin Sans", serif;
  font-size: 15px;
  color: #ccc;
  background-color: #1d222b;
  border: 1px solid #444;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
}

.btn {
  margin: 10px;
}

.add-task-btn {
  min-width: 100px;
  background-color: #790e43;
  color: #ccc;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
}

.list-item span {
  color: #999;
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-delete i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.btn-edit i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.clear-btn {
  width: 100px;
  height: 35px;
  background-color: #790e43;
  color: #ccc;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.no-tasks {
  color: #777;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/*Searchbar*/

.search {
  height: 300px;
}

.searchInputs {
  margin: 0 0 5rem 0;

  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

/*.dataResult::-webkit-scrollbar {
  display: none;
}*/

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
